.content1 {
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
    background: #ffffff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content2 {
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #70d6ff;
    background: #70d6ff;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.form-control-submit-button1 {
    width: 100%;
    height: 3.125rem;
    border: 1px solid #ff9770;
    border-radius: 1.5rem;
    background-color: #ff9770;
    color: #fff;
    font: 700 0.75rem/1.75rem "Raleway", sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

.content3 {
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    background: #ffd670;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}